/* Tags */

h1 {
    color: pink;
}

h1, a {
    color: red;
}

/* Tag dentro de tag */

p a {
    color: black;
}

/* ID */

#logo {
    color: gold;
}

/* Classes */

.cursos {
    color: blue;
}

.design {
    color: red;
}